@model IEnumerable<BrewentoryBackend.DataAccess.LiveView>

@{
    ViewBag.Title = "Live View";
}

<h2>Live View</h2>

<table class="table" id="liveTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Batch)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pallets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LiveStatus)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="product">
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Batch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pallets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LiveStatus)
            </td>
            <td hidden id="hiddenStatus">@item.LiveStatus</td> <!--THIS IS JUST A HIDDEN FIELD TO COMPARE LIVESTATUS AND CHANGE JUMBOTRON COLOR BASED ON THE RESULTS.-->
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) |
                @Html.ActionLink("Add", "AddToCompleted")
            </td>
        </tr>
    }
</table>
<div class="jumbotron" style="height:300px;  " id="statusJumbo">
    <h3 style="font-family:'MS Gothic'; text-align:center" name="statusText"></h3>
    <p id="testText"></p>
</div>

<!--Example of a at.helper() in case I need something like this-->
@helper WelcomeMessage(string username)
{
    if (username == "John")
    {
        username = "Michael";
    }
    else if (username == "Michael")
    {
        username = "John";
    }

    <p>Welcome, @username.</p>
}

<script>
    function GetStatus() {
        var status = document.getElementById("hiddenStatus").innerHTML;
        if (status == "False") status = "red";
        else if (status == "True") status = "green";
        return status;
    }
    function GetProduct() { var prod = document.getElementById("product").innerHTML; return prod; }
    document.getElementById("statusJumbo").style.backgroundColor = GetStatus();
    document.getElementById("testText").innerHTML = GetProduct();
</script>




