@{
    ViewBag.Title = "Login";
}



@using (Html.BeginForm())
 {
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="padding-top:1em; position:center; font-family:'Century Gothic'; font-weight: bold">@Html.Display("testMessage", ViewData["testMessage"])</h4>   
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Employee", new SelectList(ViewBag.data, "Name", "Name"), "Select")
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Password("enteredPassword")
        </div>
    </div>
</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login / Logout" class="btn btn-default" formmethod="post" />
        </div>
    </div>   
 }
   



