@model BrewentoryBackend.DataAccess.Notetable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Notetable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Headline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HeadlineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
