@model IEnumerable<BrewentoryBackend.DataAccess.Notetable>

@{
    ViewBag.Title = "Notes";
}

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Headline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Headline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HeadlineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.HeadlineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HeadlineID })
        </td>
    </tr>
}

</table>
